version: '3'

services:
  web:
    build:
      context: .
      dockerfile: DockerFile
    tty: true
    stdin_open: true
    command: bash -c "rm -f tmp/pids/server.pid && bin/rails s -p 3000 -b '0.0.0.0'"
    volumes:
      - .:/rails-coach
    ports: ["3000:3000"]
    links:
      - db
      - redis
    depends_on:
      - db
      - redis

  db:
    image: postgres:12.1
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
    ports: ["5432:5432"]

  redis:
    image: redis:alpine
    ports: ["6379:6379"]
    expose:
      - "6379"

volumes:
  pg_data:
  redis_data:
  bundle: